<p>To complete your Ooply registration, please follow the link below:</p>

<p><a href="http://localhost:3000/register/<%= @registrant.code %>">http://localhost:3000/register/<%= @registrant.code %></a></p>

<p>This link will expire at <%= @registrant.expires_at %>.</p>



<p>If you received this message in error, simply do nothing.</p>

<p>The Ooply server</p>