<!DOCTYPE html >
<html lang ="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		
</head>
<!-- <body class="image"> -->
	<body>	
	<div class="navbar-fixed-top">
		<a href="#index" class="navbar-brand">Ooply</a>
		<ul class="nav navbar-nav pull-right">
			<li><a href="about">About</a></li>
			<li><a href="categories">Categories</a></li>
			
		</ul>
	</div>
	<!-- ends navbar-static-top -->
	
		<!-- <div class="fc">
			<div class="row">
				<div class="front"> Ruby </div>
				<div class="back">Flip</div>
			</div>
			
		</div> -->
		<!-- ends flashcard class -->	
	
	
</body>
</html>