<!DOCTYPE html >
<html lang ="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
</head>
<body>
	<div class="navbar-static-top clearfix">
		<a href="#" class="navbar-brand">Ooply</a>
		<ul class="nav navbar-nav pull-right">
			<li><a href="about">About</a></li>
			<li><a href="categories">Categories</a></li>
			<li><a href="session">Sign in/ Log out</a></li>
		</ul>
	</div>
	<!-- ends navbar-static-top -->
	<div class="container">
		<div class="flashcard">
			<%= image_tag("") %>
		</div>
		<!-- ends flashcard class -->	
	</div> 
	<!--ends container -->
</body>
</html>