
 <% @category.flashcards.each do |card| %>
 	<div class="category-name"> 
 		<%= card.category.name %> 
 	</div>
 	<div class="row">
	<div class="card">
 		 <%= card.term %> 
 	</div>
 </div>
 <%end%> 