<div id="container">
	<div class="row">	
		<div id="category-name"> 
		 	<h1 id="h1"><%= @category.name %></h1>
		</div>
	 </div>
	 <div class="row" id="card_holder">
		 <% @category.flashcards.each do |card| %>
		 	
		 	<div class="card_holder">
				<div class="card">
			 		
			 		<div class="front">
			 		 	<%= card.term %> 
			 		  	<i class="icon-hand-up"></i>
			 		</div>
			 		<div class="back">
			 			<%= card.definition %>
			 		</div>
			 	</div> <!-- ends class card --> 
			  </div> <!-- ends class card_holer -->
		<%end%>	

	</div>
		<div class="row">
				<div class="next">
					  	<button class="btn pull-right" type="button">
					  				Next
					  	</button>
				</div>
				<div class="back-button">
					<button class="btn pull-left" type="button">
						Back
					</button>
				</div>
		</div>
			
</div> 

