<div class="navbar-fixed-top">
		<a href="#" class="navbar-brand">Ooply</a>
		<ul class="nav navbar-nav pull-right">
			<li><a href="about">About</a></li>
			<li><a href="categories">Categories</a></li>
			
		</ul>
</div>